@import "./reset";
body {
  color: #fff;
  background-image: linear-gradient(
    to bottom right,
    rgba(29, 38, 113, 1),
    rgba(195, 65, 150, 1)
  );
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

$mediaBreakPoint: 950px;
@import "./App.scss";
@import "./components/Header/Header.scss";
@import "./components/PageAlerts/PageAlert";
@import "./components/Pagination/Pagination.scss";
@import "./components/BookMarkItem/BookMarkItem.scss";
@import "./components/BookMarkedList/BookMarkedList.scss";
